In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model  import LinearRegression

In [6]:
df = pd.read_csv('C:\\Users\\USER\\MagicBricks.csv')

In [7]:
df.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Furnishing   1254 non-null   object
 4   Locality     1259 non-null   object
 5   Parking      1226 non-null   float64
 6   Price        1259 non-null   int64
 7   Status       1259 non-null   object
 8   Transaction  1259 non-null   object
 9   Type         1254 non-null   object
 10  Per_Sqft     1018 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 108.3+ KB

In [13]:
df.isnull().sum()

Area           0
BHK            0
Bathroom       0
Furnishing     0
Locality       0
Parking        0
Price          0
Status         0
Transaction    0
Type           0
dtype: int64

In [10]:
df.drop('Per_Sqft', axis=1, inplace=True)

In [11]:
df.dropna(inplace=True)

In [17]:
df.drop('Locality', axis=1, inplace=True)

In [18]:
df.columns

Index(['Area', 'BHK', 'Bathroom', 'Furnishing', 'Parking', 'Price', 'Status',
       'Transaction', 'Type'],
      dtype='object')

In [16]:
df.describe()

               Area          BHK     Bathroom      Parking         Price
count   1225.000000  1225.000000  1225.000000  1225.000000  1.225000e+03
mean    1473.558351     2.800816     2.568163     1.936327  2.141555e+07
std     1584.440935     0.948597     1.039481     6.281719  2.580663e+07
min       28.000000     1.000000     1.000000     1.000000  1.000000e+06
25%      807.292500     2.000000     2.000000     1.000000  5.650000e+06
50%     1200.000000     3.000000     2.000000     1.000000  1.430000e+07
75%     1700.000000     3.000000     3.000000     2.000000  2.550000e+07
max    24300.000000    10.000000     7.000000   114.000000  2.400000e+08

In [19]:
textcol = ['Furnishing','Status','Transaction', 'Type']

In [20]:
Label = LabelEncoder()

In [22]:
for col in textcol:
    df[col] = Label.fit_transform(df[col])

In [23]:
df.head()

,Area,BHK,Bathroom,Furnishing,Parking,Price,Status,Transaction,Type
0,800.0,3,2.0,1,1.0,6500000,1,0,1
1,750.0,2,2.0,1,1.0,5000000,1,0,0
2,950.0,2,2.0,0,1.0,15500000,1,1,0
3,600.0,2,2.0,1,1.0,4200000,1,1,1
4,650.0,2,2.0,1,1.0,6200000,1,0,1

In [24]:
# scaling the price
scaler = StandardScaler()

In [25]:
df = scaler.fit_transform(df)

In [26]:
df = pd.DataFrame(df, columns =['Area', 'BHK', 'Bathroom', 'Furnishing', 'Parking', 'Price', 'Status',
       'Transaction', 'Type'] )

In [27]:
df.head()

,Area,BHK,Bathroom,Furnishing,Parking,Price,Status,Transaction,Type
0,-0.425282,0.210063,-0.546807,-0.215839,-0.149117,-0.578210,0.25173,-1.269622,0.945174
1,-0.456851,-0.844556,-0.546807,-0.215839,-0.149117,-0.636358,0.25173,-1.269622,-1.058006
2,-0.330572,-0.844556,-0.546807,-1.771152,-0.149117,-0.229320,0.25173,0.787636,-1.058006
3,-0.551561,-0.844556,-0.546807,-0.215839,-0.149117,-0.667371,0.25173,0.787636,0.945174
4,-0.519991,-0.844556,-0.546807,-0.215839,-0.149117,-0.589839,0.25173,-1.269622,0.945174

In [28]:
x = df.drop('Price', axis=1)
y = df['Price']

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.1, random_state=42)

In [30]:
linear = LinearRegression()

In [31]:
linear.fit(x_train,y_train)

LinearRegression()

In [34]:
linearpred = linear.predict(x_test)

In [35]:
linearpred[:10]

array([-0.43113837, -0.50035739, -1.04549033, -0.4673682 ,  0.0153432 ,
       -0.36111262,  1.42831522,  0.82181395, -0.47831521,  1.6022437 ])

In [36]:
mse = mean_squared_error(y_test,linearpred)

In [37]:
mse

0.8482125438724138